body{background-color: rgb(78, 103, 121);}
title { font-size: xx-large;}
h1 {text-align: center;}
h1{color: white;}
h2 { color: white;}
h3 {color: white;}
h3 { text-align: center;}
h3 { font-size: small;}
h4 { color: white;}
h4 { text-align: center;}
h4 {font-size: x-large;}
p {text-align: center;}
p { color: white;}
img {float: inline-start;
